<h1>Fizz Buzz</h1>
<p>Iterate from 0 - 100 and for multiples of 7, output "fizz"
	and multiples of 11, output "buzz"</p>


<%

i = 1

while i <= 100 do

	if i % 7 == 0
		output = "fizz"
	elsif i % 11 == 0
		output = "buzz"
	else
		output = i
	end
	
%>
Currently at <%=output%><br>
<%
	i += 1

end

%>